  <ion-header class="titulo" id="titulo">
    <ion-toolbar class="tituloModal" id="tituloModal">
      <ion-title>INCIDENCIAS</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="cuerpo">
    <ion-textarea 
                class="cajaTexto"
                placeholder="  Deja tu incidencia aquí"
                #texto>
    </ion-textarea>
    <div class="botones">
      <button class="botonMyGreen"
          (click)="guardar(texto.value)" expand>
          GUARDAR INCIDENCIA
      </button>
      <button class="botonMyGreen"
            (click)="salir()" expand>
            CERRAR
      </button>
    </div>

  </ion-content>
