.tituloModal{
    --background: var(--verdePrincipal);
}
.cuerpo{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.cajaTexto{
    border: var(--borde);
    margin: 2em;
    width: 83%;
    height: 200px;
    padding: 5px;
}
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}