<ion-header class="titulo" id="titulo">
  <ion-toolbar [ngClass]="{'urgente':'tituloModalRojo','media':'tituloModalAmarillo',
  'baja':'tituloModalVerde'}[prioridad]"
   id="tituloModal">
    <ion-title class="tituloCabecera">{{fecha|date:"dd-MM-YYYY"}} <br> TAREA {{prioridad}}  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cuerpo">
  <p>{{descripcion}}</p>
  <div class="botones">
    <button class="botonMyGreen"
              (click)="finalizar(id_tarea,indice)" expand>
              FINALIZAR TAREA
  </button>
  <button class="botonMyGreen"
              (click)="salir()" expand>
              CERRAR
  </button>
  </div>

</ion-content>
