.tituloModalVerde{
    --background: var(--verdePrincipal);
}

.tituloModalRojo{
    --background: var(--rojowarning);
}

.tituloModalAmarillo{
    --background: var(--amarilloAdvertencia);
}

.tituloCabecera{
    --color:white;
    text-align: center;
}

.cuerpo{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
p{
    text-align: center;
    color: var(--grisOscuro);
    margin-top: 30px;
    margin-bottom: 30px;
}
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}