
<ion-header [translucent]="false">
  <div class="header">
    <div class="zona-izq">
      <div class="canvas-log">
        <img src="../../../assets/img/nature.png">
      </div>
      <h1>MyGreen</h1>
      <div class="zona-dcha" >
        <a class="boton-login" title="logOut" (click)="desconectar()"><img  src="../../../assets/img/logout.png"></a>
    </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    
    <div class="botones">
      <button *ngIf="botonFormulario" class="botonMyGreen" type="button" (click)="entrada()">ENTRADA</button>
      <button *ngIf="!botonFormulario" class="botonMyGreen" type="button" (click)="salida()">SALIDA</button>
      <button class="botonMyGreen anchoEntero2" type="button" (click)="modalIncidencia()">GENERAR INCIDENCIA</button>
    </div>

    <div class="tareas">
      <h3 class="tituloCard">TAREAS ASIGNADAS</h3>
      <div class="tareaPendiente" *ngFor="let tarea of tareas;let indice=index" (click)="cargarDatos(tarea.id_tarea,
            tarea.prioridad,tarea.fecha,tarea.descripcion,indice)">
              <div class="caja">
                  <div class="tarea-arriba">
                      <p class="titulo-atera-arriba"><span class="tareaPrioridad {{tarea.prioridad}}">{{tarea.prioridad.toUpperCase()}}</span>
                        <span class="tareaFecha">{{tarea.fecha|date:"dd-MM-YYYY"}}</span>
                      </p>
                  </div>
                  <div class="tarea-abajo">
                      <p class="tareaDescripcion">{{tarea.descripcion}}</p>
                  </div>
              </div>
          
      </div>

  </div>
  </div>
</ion-content>
