
  .tareas {   
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 10px 15px;
    text-align: center;
  }  
  .tareaPendiente {
    border-radius: 7px;
    box-shadow: var(--sombra);
    border: var(--borde);
    display: flex;
    flex-direction: column;
    // align-content: center;
    margin:0px 5px 15px;
    background-color: white;
  }  
  .tareaPendiente:hover {
    background-color: rgb(202, 202, 202);
  }
  .tituloCard{
    color: var(--verdeSecundario);
    margin-bottom: 15px;
  }
  .caja {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }  
  .tarea_arriba{
      flex-direction: row;
      display: flex;
  }
  .titulo-atera-arriba{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 15px;
  }  
  .tareaPrioridad {
    font-family: var(--roboto);
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }  
  .tareaFecha {
    font-size: 20px;
    font-family: var(--lato);
  }
  
  .tareaDescripcion {
    margin: 0;
    margin-bottom: 15px;
  }
  span, p{
    color: black;
  }
  
  .urgente {
    color: var(--rojowarning);
  }
  
  .media {
    color: var(--amarilloAdvertencia);
  }
  
  .baja {
    color: var(--verdePrincipal);
  }
  
  .boton-login{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
  }
  .botones{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}
