
  .tareas {
    
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 50px 10px;
    text-align: center;
  }
  
  
  .tareaPendiente {
    border-radius: 7px;
    box-shadow: var(--sombra);
    border: var(--borde);
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 20px;
    background-color: white;
  }
  
  .caja {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .tareaPendiente:hover {
    background-color: rgb(202, 202, 202);
  }

  .tarea_arriba{
      flex-direction: row;
      display: flex;
  }

  .titulo-atera-arriba{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 15px;
  }
  
  .tareaPrioridad {
    font-family: var(--roboto);
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }

  .anchoEntero{
    width: 99%;
    margin: 20px 0;
  }
  
  .anchoEntero2{
    width: 99%;
    margin: 10px 0;
  }
  
  .tareaFecha {
    font-size: 20px;
    font-family: var(--lato);
  }
  
  .tareaDescripcion {
    margin: 0;
    margin-bottom: 15px;
  }
  
  .urgente {
    color: #da3232;
  }
  
  .media {
    color: #ffc800c0;
  }
  
  .baja {
    color: var(--verdePrincipal);
  }
  
  .lineaSeparacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .lineaSeparacion hr {
    width: 100%;
    margin: 0;
  }
  
  .separacion {
    margin: 10px 0 10px 10px;
  }
  
