/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
    --grisOscuro: #414141;
    --verdePrincipal: #69af07;
    --verdeSecundario: #8a9669;
    --rojowarning: rgb(243, 7, 7);
    --amariloAdvertencia: rgb(233, 191, 7);
    --verdeCorrecto: #69af07;
    --clima: #4d99cf;
    --fondo: #f4f4f4;
    --lato: "Lato", sans-serif;
    --roboto: "Roboto Condensed", sans-serif;
    --sombra: 4px 4px 4px grey;
    --borde: 3px solid var(--verdeSecundario);
    --titulos: #887848;
    --color-green: #00a878;
    --color-red: #fe5e41;
    --color-button: #fdffff;
    --color-black: #000;
  }

  .header {
    background-color: var(--verdePrincipal);
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 51px 0 22px;
  }

  .zona-izq {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .zona-izq h1 {
    color: white;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }
  
  .botonMyGreen {
    box-shadow: var(--sombra);
    transition: all 0.8s ease;
    /* background:linear-gradient(to bottom, #69af07 5%, #8a9669 100%); */
    background-color: #69af07;
    border-radius: 4px;
    border: 1px solid #887848;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: var(--roboto);
    font-size: 18px;
    font-weight: 800;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 8px black;
    box-shadow: var(--sombra);
    transition: all 0.8s ease;
    /* background: linear-gradient(to bottom, #69af07 5%, #8a9669 100%); */
    /* background-color: #69af07; */
    /* border-radius: 4px; */
    /* border: 1px solid #887848; */
    /* display: inline-block; */
    /* cursor: pointer; */
    /* color: #ffffff; */
    /* font-family: var(--roboto); */
    /* font-size: 18px; */
    /* font-weight: 800; */
    /* padding: 6px 24px; */
    /* text-decoration: none; */
    /* text-shadow: 1px 1px 8px black; */
    text-align: center;
  }
  .botonMyGreen:disabled {
    background-color: #ccc;
    cursor: default;
  }
  .botonMyGreen:hover {
    /* background:linear-gradient(to bottom, #8a9669 5%, #69af07 100%); */
    background-color: #8a9669;
    text-shadow: none;
    color: var(--grisOscuro);
  }
  .botonMyGreen:active {
    position: relative;
    top: 1px;
  }