.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 10px;
  box-shadow: var(--sombra);
  border: var(--borde);
  border-radius: 7px;
  gap: .8vh;
  background-color: white;
  /* backdrop-filter: saturate(180%) blur(20px); */
}

span{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 0.88em;
  color: black;
}
.form-input{
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0) ;
  border: 1.5px solid var(--verdeSecundario);
  border-radius: 8px;
  background-color: rgb(230, 227, 227);
  min-height: 2.5rem;
  padding: 4px 8px;
}
.tituloForm h2{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
}
.tituloForm p{ 
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 0.88em;
  color: black;
}